
.head {
  position: fixed;
  width: 100%;
  padding: 20px;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  background-color: #151313;
}

.nav a {
  position: relative;
  font-size: 18px;
  color:#ff1744 ;
  font-weight: 500;
  text-decoration: none;
  margin-left: 50px;
}
.nav a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #ff1744;
  transition: 0.3s;
}
.nav a:hover::before {
  width: 100%;
}
